{% extends "fwtheme_django/layout.html" %}
{% load static %}

{% block head_title %}Data - British Antarctic Survey{% endblock %}
{% block extra_meta %}
    <meta name="description" content="Web based directory browser for the British Antarctic Survey.
    Provides download links and access to the relevant CEDA Catalogue record.">
    <meta name="keywords" content="climate data, netcdf, satellite, earth observation, observations, CEDA">
{% endblock %}
{% block page_title %}
{% endblock %}

{% include "eds_tagman.html" %}

{% block stylesheets_extra %}
    <link rel="shortcut icon" href="{% static 'common/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'extra_data_centres/css/pdc.css' %}"/>
{% endblock %}

{% block navbar_branding %}
<a href="https://www.bas.ac.uk/" class="navbar-brand" style="max-width: 30%;">
    <img src="{% static 'extra_data_centres/img/pdc.png' %}" style="max-width:100%" alt="BAS logo">
</a>
{% endblock navbar_branding %}

{% block navbar_options %}
<li class="nav-item">
    <a class="nav-link" href="https://www.bas.ac.uk/about/about-bas/">About BAS</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://www.bas.ac.uk/data/uk-pdc/">UK-PDC</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://data.bas.ac.uk/">PDC Catalogue</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://data-search.nerc.ac.uk/">NERC Catalogue</a>
</li>

{% endblock navbar_options %}

{% block user_status %}
{% endblock user_status %}

{% block footer %}
    <footer>
        <div class="container">
            <div class="row d-flex justify-content-around border border-light border-bottom-0 border-left-0 border-right-0 pt-5 pb-2 mt-5">
                <div class="col col-md-4 text-center ">
                </div>
                <div class="col-md-4">
                    <p class="text-center small">
                        Copyright © 2018 <a href="http://www.stfc.ac.uk">STFC</a>
                        All Rights Reserved <br>
                        <a href="http://www.ceda.ac.uk/accessibility" target="_blank">Accessibility</a> |
                        <a href="http://www.ceda.ac.uk/disclaimer" target="_blank">Disclaimer</a> |
                        <a href="http://www.ceda.ac.uk/privacy-and-cookies/" target="_blank">Privacy and Cookies</a><br/>
                        <a href="http://www.ceda.ac.uk" target="_blank">CEDA</a>
                    </p>
                </div>
                <div class="col col-md-4 text-center">
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}
